<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<h2>Admin Dashboard</h2>
<h3>Statistics</h3>
<h4>Total Products: <a href="/admin/products"><%= @product_count %></a></h4>
<h4>Total Categories: <%= @category_count %></h4>
